{% extends "blog/base.html" %}
{% block content %}
    {% for posts in posts %}
        <article class="media content-section">
            <img src="{{ posts.author.profile.image.url }}" class="rounded-circle article-img">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ posts.author }}</a>
                    <small class="text-muted">{{ posts.posted_date| date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' posts.id %}">{{ posts.title }}</a></h2>
                <p class="article-content">{{ posts.content }}</p>
            </div>
        </article>
    {% endfor %}
{%endblock content%}
